
:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
    --primary-color:linear-gradient(to right, #89f7fe, #66a6ff);
    --border-color:#dbdbdb;  
    --btn-color: linear-gradient(to right, #4facfe, #00f2fe);
    /* background: linear-gradient(to right, #d4fc79, #96e6a1); */
    --background-color: linear-gradient(to right, #4facfe, #002c95);
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    
}


html {
    font-size: 62.5%;
    line-height: 16px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
 }

 .grid__full-width {
    width: 100%;

}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__column-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.btn{
    min-width: 90px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
      
}